html, body, .container-fluid {
  background-color: #D6D8DC;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: red; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: green; }